In [1]:
import glob
import netCDF4 as nc
import os
import pandas as pd
import re

In [2]:
os.getcwd() # see working folder

'/Users/loverighteous1/Desktop/MasterThesisData/CPC_total_prep_day_0.5x0.5_1979-2021_'

### Reading files and checking variables

In [3]:
netcdf_files = glob.glob(os.getcwd() + '/*.nc')
for file in netcdf_files:
    dataset = nc.Dataset(file, mode='r')
    print(dataset.variables.keys())

dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])
dict_keys(['time', 'lon', 'lat', 'pr'])

### Convert data from netcdf4 format to csv format.

In [4]:
for file in netcdf_files:
    dataset = nc.Dataset(file, mode='r')
    time = dataset.variables['time'][:]
    lat = dataset.variables['lat'][:]
    lon = dataset.variables['lon'][:]
    pr = dataset.variables['pr'][:]
    data = {
        'time': time.flatten(),
        'pr': pr.flatten()
    }
    dataset = pd.DataFrame(data)
    city = re.search(r'_(\w+)\.nc', file).group(1)  # same as netcdf_files[2].split('_')[-1][:-3]
    dataset['city'] = city
    dataset['lon'] = lon.flatten()[0]  # same as longitude.flatten().data[0]
    dataset['lat'] = lat.flatten()[0]

    start_date = pd.to_datetime('1979-01-01')

    # Convert days since 1979 to actual dates
    dataset['date'] = start_date + pd.to_timedelta(dataset['time'], unit='d')
    dataset = dataset[['date', 'lon', 'lat', 'city', 'pr']]
    prefix = 'CPC_total_precipitation_day_0.5x0.5_1979-2021_'
    dataset.to_csv(f"{prefix}{city}.csv", index=False)

In [5]:
dataset.head()

        date   lon  lat   city   pr
0 1979-01-01 -0.17  5.6  Accra  0.0
1 1979-01-02 -0.17  5.6  Accra  0.0
2 1979-01-03 -0.17  5.6  Accra  0.0
3 1979-01-04 -0.17  5.6  Accra  0.0
4 1979-01-05 -0.17  5.6  Accra  0.0

In [96]:
data = pd.concat(datasets)
data

          time  precipitation     city  longitude  latitude
0          0.0            0.0  Abidjan      -3.93      5.26
1          1.0            0.0  Abidjan      -3.93      5.26
2          2.0            0.0  Abidjan      -3.93      5.26
3          3.0            0.0  Abidjan      -3.93      5.26
4          4.0            0.0  Abidjan      -3.93      5.26
...        ...            ...      ...        ...       ...
15701  15701.0            NaN    Accra      -0.17      5.60
15702  15702.0            NaN    Accra      -0.17      5.60
15703  15703.0            NaN    Accra      -0.17      5.60
15704  15704.0            NaN    Accra      -0.17      5.60
15705  15705.0            NaN    Accra      -0.17      5.60

[141354 rows x 5 columns]